.blog-detail {
  padding: 60px 20px 100px 20px;
}

.blog-container {
  margin: 50px 0;
  text-align: center;
}

.blog-img img {
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 20px;
}

.blog-content {
  font-size: 1rem;
  line-height: 1.6;
}

.blog-title {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: bold;
}

.blog-content p {
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.blog-date {
  font-size: 0.9rem;
  color: #777;
}

/* コメントセクション */
.comments {
  margin: 50px 0;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.comment-form {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.comment-form .form-group {
  margin-bottom: 15px;
}

.comment-form label {
  display: block;
  margin-bottom: 5px;
}

.comment-form input[type="text"],
.comment-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 1rem;
}

.comment-form button {
  background-color: #007BFF;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.comment-form button:hover {
  background-color: #0056b3;
}


.comment-lists {
  margin-top: 30px;
}

.comment-title {
  margin-bottom: 15px;
}

.comment-item {
  list-style-type: none;
  padding: 0;
}

.comment-item li {
  padding: 15px;
  margin-bottom: 15px;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.comment-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.comment-actions {
  display: flex;
  align-items: center;
}

.comment-date {
  font-size: 0.9rem;
  color: #777;
  margin-right: 15px;
}


.delete-form {
  display: inline;
}

.delete-button {
  background-color: #FF0000;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 0.9rem;
  border-radius: 4px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #cc0000;
}


.comment-content {
  font-size: 1rem;
  line-height: 1.6;
}

.blog-edit-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.blog-edit-image {
  max-width: 200px;
  margin-top: 10px;
}

.edit-button,
.delete-button {
  background-color: #808080; 
  color: white;
  padding: 8px 15px; 
  text-decoration: none;
  border-radius: 5px;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s; 
  display: inline-flex; /
  align-items: center; 
  justify-content: center;
}

.edit-button:hover {
  background-color: #4CAF50;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

a.edit-button,
a.delete-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 15px;
}

.delete-button:hover {
  background-color: #f44336; 
}
