.section-title {
  font-size: 1.5rem;
  font-weight: bold;
  border-bottom: 2px solid #007BFF;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.filter-options {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.filter-input, .filter-select, .filter-button {
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
}

.filter-button {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
}

.filter-button:hover {
  background-color: #0056b3;
}

.blog-lists {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog-item {
  display: flex;
  align-items: flex-start;
  padding: 20px;
  border: 1px solid #ddd;
  background-color: #fff;
  border-bottom: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-image {
  position: relative;
  margin-right: 20px;
}

.blog-image img {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}

.blog-category {
  position: absolute;
  top: 0px;
  right: 0px;
  background-color: #007BFF;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 0.9rem;
}

.blog-content-container {
  flex: 1;
}

.blog-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
  font-weight: bold;
}

.blog-content {
  margin-bottom: 10px;
  line-height: 1.6;
  color: #333;
}

.blog-date {
  color: #888;
  margin-bottom: 10px;
}

.detail-link {
  color: #007BFF;
  text-decoration: none;
}

.detail-link:hover {
  text-decoration: underline;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.pagination a, .pagination span {
  padding: 10px 15px;
  border: 1px solid #ddd;
  color: #333;
  text-decoration: none;
  border-radius: 4px;
}

.pagination a:hover {
  background-color: #007BFF;
  color: white;
}

.pagination span {
  background-color: #f0f0f0;
  font-weight: bold;
}