body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.top-section {
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  background-color: #e0f7fa;
}


.top-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.inner {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/* 予約セクション */
.reservation-calendar {
  background-color: #fff;
  padding: 100px 20px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

/* 料金や予約詳細のセクション */
.booking-detail {
  background-color: #f0f0f0;
  padding: 100px 20px;
}

/* 詳細グループのデザイン */
.detail-group {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 各項目のタイトル */
.detail-head {
  font-weight: bold;
  color: #17252a;
  font-size: 1.2rem;
}

/* 各項目のテキスト */
.detail-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #505050;
}

/* カレンダーのデザイン */
.fc {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbar-title {
  font-size: 1.5rem;
  color: #2b7a78;
}

.fc-daygrid-day {
  border: 1px solid #eaeaea;
}

.fc-day-today {
  background-color: #e0f7fa !important;
}

.fc-event {
  font-size: 1rem;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.fc-event-red {
  background-color: #e57373;
}

.fc-event-green {
  background-color: #81c784;
}

.fc-event-green:hover {
  background-color: #66bb6a;
}

.fc-day:hover {
  background-color: #f1f1f1;
}


/* モーダルのスタイル */
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 30px; 
  border-radius: 10px;
  z-index: 1000;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
  max-width: 1400px; 
  width: 90%; 
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999; 
  display: flex; 
  justify-content: center;
  align-items: center;
  display: none; 
}

.modal-title {
  font-size: 24px; 
  margin-bottom: 20px; 
  text-align: center;
}

.modal-text {
  font-size: 16px; 
  margin-bottom: 15px; 
}


.close-button {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
}

.modal-checkbox {
  display: block;
  margin-bottom: 20px; 
}

.modal-content label {
  display: flex; 
  align-items: center; 
  margin-bottom: 15px; 
}

.modal-content input[type="checkbox"] {
  margin-right: 10px; 
}

.modal-buttons button {
  padding: 10px 20px;
  font-size: 16px; 
  border: none;
  border-radius: 5px;
  background-color: #4CAF50; 
  color: white; 
  cursor: pointer;
  margin-right: 10px;
  transition: background-color 0.3s;
}

.modal-buttons button:hover {
  background-color: #45a049; 
}

.modal-buttons button:disabled {
  background-color: #ccc; 
  cursor: not-allowed;
}
