body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f9f9f9;
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
}

.top-section {
  margin-top: 60px;
  width: 100%;
  height: 100vh;
  background-color: #e0f7fa;
}


.top-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}

.inner {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.section-title {
  font-size: 2rem;
  margin-bottom: 30px;
  color: #333;
  text-align: center;
}

/* 予約セクション */
.reservation-calendar {
  background-color: #fff;
  padding: 100px 20px;
}

#calendar {
  max-width: 900px;
  margin: 0 auto;
}

/* 料金や予約詳細のセクション */
.booking-detail {
  background-color: #f0f0f0;
  padding: 100px 20px;
}

/* 詳細グループのデザイン */
.detail-group {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 各項目のタイトル */
.detail-head {
  font-weight: bold;
  color: #17252a;
  font-size: 1.2rem;
}

/* 各項目のテキスト */
.detail-text {
  margin-top: 10px;
  font-size: 1rem;
  color: #505050;
}

/* カレンダーのデザイン */
.fc {
  background-color: white;
  border-radius: 10px;
  padding: 40px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.fc-toolbar-title {
  font-size: 1.5rem;
  color: #2b7a78;
}

.fc-daygrid-day {
  border: 1px solid #eaeaea;
}

.fc-day-today {
  background-color: #e0f7fa !important;
}

.fc-event {
  font-size: 1rem;
  padding: 4px;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}

.fc-event-red {
  background-color: #e57373;
}

.fc-event-green {
  background-color: #81c784;
}

.fc-event-green:hover {
  background-color: #66bb6a;
}

.fc-day:hover {
  background-color: #f1f1f1;
}
